// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.header {
  margin-top: 20px;
}

.early_bird_logo {
  float: left;
  text-size: 700px;
  margin: 10px;
  border: 2px solid black;
  padding: 10px 10px 10px 10px;
}

.nav_links {
  float: right;
  padding: 15px;
  margin: 10px;
  text-size: 700px;

}

// FAQ stylings
.panel-info {
  margin-top: 0px;
  margin-bottom: 0px;
}

.panel-heading a {
    display: block;
    padding: 15px 15px;
    margin: -10px -15px;
}