// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.header_list {
  list_style: unstyled;
}

.early_bird_logo {
  float: left;
  text-size: 700px;
  margin: 30px;
  border: 2px solid black;
  padding: 10px 10px 10px 10px;
}

.nav_links {
  float: right;
  padding: 15px;
  margin: 30px;
  text-size: 700px;

}