<nav>
  <ul class="list-unstyled list-inline">
    <li class="early_bird_logo">Early Bird Patents</li>
    <li class="nav_links">About</li>
    <li class="nav_links">Musings</li>
    <li class="nav_links">Contact</li>
  </ul>
</nav>