<div class="container">
  <nav>
    <ul class="list-unstyled list-inline">
      <li ><h3 class="early_bird_logo"><%= link_to "Early Bird Patents", root_path  %></h3></li>
      
      <li class="nav_links"><%= link_to "Musings", "#"  %></li>
      <li class="nav_links"><%= link_to "Contact", new_contact_path  %></li>
      <li class="nav_links"><%= link_to "About", "#"  %></li>
    </ul>
  </nav>
</div>



